@mixin button {
    background-color: $lightblue;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@mixin adminbutton{
    background-color: $brown;
    color: $lightgreen;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@mixin mobile {
    @media screen and (max-width: #{$breakpoint-mobile}){
        font-size: 11px;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}